mixin icon(name)
  svg(class="icon icon-" + name)
    use(xlink:href="#"+ name)
mixin next(text)
  a(href="#").link-arr
    .link-arr-text
      .text #{text}
    .link-arr-icon
      +icon('arr')
mixin down(text,val)
  a(href="#").link-arr.down
    .link-arr-icon
      svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 42 41.9')
        path(d='M40 24.9v14c0 .6-.4 1-1 1H3c-.6 0-1-.4-1-1v-14H0v14c0 1.7 1.3 3 3 3h36c1.7 0 3-1.3 3-3v-14h-2z', fill='currentcolor')
        path.down-arr(d='M30.9 20.3L22 29.2V0h-2v29.2l-8.9-8.9-1.4 1.4L21 33l11.3-11.3z', fill='currentcolor')
    .link-arr-text
      .text #{text}
        span  (#{val})

doctype html
html
  head
    meta(charset="utf-8")
    block title
      title Jade Layout Template
    meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no")
    meta(content="IE=Edge" http-equiv="X-UA-Compatible")
    link(rel="stylesheet" media="all" href="css/screen.min.css")
  body
    script(type="text/javascript").
      !function(e){function t(o){if(n[o])return n[o].exports;var c=n[o]={exports:{},id:o,loaded:!1};return e[o].call(c.exports,c,c.exports,t),c.loaded=!0,c.exports}var n={};return t.m=e,t.c=n,t.p="/assets/",t(0)}({0:function(e,t,n){n(18),n(19)},18:function(e,t){!function(){"use strict";function e(e,t,n){e.addEventListener?e.addEventListener(t,n,!1):e.attachEvent&&e.attachEvent("on"+t,n)}function t(e){return window.localStorage&&localStorage.font_css_cache}function n(){if(window.localStorage&&window.XMLHttpRequest)if(t(c))o(localStorage.font_css_cache);else{var e=new XMLHttpRequest;e.open("GET",c,!0),e.onreadystatechange=function(){4===e.readyState&&(o(e.responseText),localStorage.font_css_cache=e.responseText,localStorage.font_css_cache_file=c)},e.send()}else{var n=document.createElement("link");n.href=c,n.rel="stylesheet",n.type="text/css",document.getElementsByTagName("head")[0].appendChild(n),document.cookie="font_css_cache"}}function o(e){var t=document.createElement("style");t.setAttribute("type","text/css"),t.styleSheet?t.styleSheet.cssText=e:t.innerHTML=e,document.getElementsByTagName("head")[0].appendChild(t),window.onFontLoad&&window.onFontLoad()}var c=window.fonts_href||"../css/font.css";window.localStorage&&localStorage.font_css_cache||document.cookie.indexOf("font_css_cache")>-1?n():e(window,"load",n)}()},19:function(e,t){}});
    include includes/_svg-template
    //BEGIN out
    .root
      block content
    //END out
    script(src="js/bundle.js")
    script(src="js/common.js")