extends _layout

block title
	title Index
	- var _name = "index"
	- var currentPage = "index"
block content
	.site__loader
	.root__wrapper
		.site__overlay
		.root__frame
			include includes/_header
			#barba-wrapper
				.barba-container(data-namespace="index")
					.wrapper-frame
						.row
							.columns
								.promo-slider
									.promo-slider-wrap
										.promo-slider-inner.js-promoslider
											.promo-slider-item.item1(data-href='/projects-inner.html')
												.promo-slider-item-inner(style='background-image: url(img/promoslider/slide1/item1-bg.jpg)')
													//- .promo-slider-item-bg
													.promo-slider-item-content
														//- .promo-slider-item-content-inner
														.cont-inner.js-parallax(data-direction='2')
																.cont-left
																	.text Helsinger, Denmark
																	.title.h1.white Danish
																		br 
																		|Maritime
																		br
																		|museum
																.cont-right
																	.text.primary.white Innovations leader in
																		br 
																		|flat glass processing industry
													.promo-slider-item-img
														.img-wrap
															img(data-lazy="img/promoslider/slide1/item1-1.png", alt="")
											.promo-slider-item.item2(data-href='/projects-inner.html')
												.promo-slider-item-inner(style='background-image: url(img/promoslider/slide2/item2-bg.jpg)')
													//- .promo-slider-item-bg
													.promo-slider-item-content
														//- .promo-slider-item-content-inner
														.cont-inner.js-parallax(data-direction='2')
																.cont-left
																	.text Minsk, Belarus
																	.title.h1.white RRB
																		br 
																		|bank
																.cont-right
																	.text.primary.white Innovations leader in 
																		br
																		| flat glass processing industry
													.promo-slider-item-img
														.img-wrap
															img(data-lazy="img/promoslider/slide2/item2-1.png", alt="")


									a(href="#").btn.js-promo-link
										span Show project

						.block.margin.anim-cont
							.row.gray.align-stretch
								.columns.large-6
									a(href="#").block-image
										.block-image-inner
											img(src="img/index/index1.jpg", alt="")
											//.video-container
												.video-container-inner
													video.fillWidth(autoplay='', loop='')
														source(src='img/index/video/clouds.mp4', type='video/mp4')
														source(src='img/index/video/clouds.webm', type='video/webm')
								.columns.large-6
									.block-text
										.col
											+content('About company','Since 2001, GLASSBEL is a leading glass processing company focusing on architectural and interior glass markets','Company','/production.html')
						.block.margin.anim-cont
							.row
								.columns
									.projects-wrap.js-tabs-cont
										.projects-bgwrap
											.projects-bgwrap-inner
												.projects-bgitem.js-tabs-item(data-id='1')
													img.js-parallax(src="img/next/l1.jpg", alt="")
												.projects-bgitem.js-tabs-item(data-id='2')
													img.js-parallax(src="img/index/index2.jpg", alt="")
												.projects-bgitem.js-tabs-item(data-id='3')
													img.js-parallax(src="img/index/index3.jpg", alt="")
												.projects-bgitem.js-tabs-item(data-id='4')
													img.js-parallax(src="img/next/l1.jpg", alt="")
												.projects-bgitem.js-tabs-item(data-id='5')
													img.js-parallax(src="img/index/index2.jpg", alt="")
												.projects-bgitem.js-tabs-item(data-id='6')
													img.js-parallax(src="img/next/l1.jpg", alt="")
												.projects-bgitem.js-tabs-item(data-id='7')
													img.js-parallax(src="img/next/l1.jpg", alt="")
												.projects-bgitem.js-tabs-item(data-id='8')
													img.js-parallax(src="img/next/l1.jpg", alt="")
												.projects-bgitem.js-tabs-item(data-id='9')
													img.js-parallax(src="img/next/l1.jpg", alt="")
												.projects-bgitem.js-tabs-item(data-id='10')
													img.js-parallax(src="img/next/l1.jpg", alt="")
										.projects-content
											.row.align-justify
												.columns
													.col
														.title.h3.white 10 000+ 
															br
															|projects
														.text.primary.white In 29 countries around the world our glass decorates buildings of the most famous companies
												.columns
													.tabs-wrap
														.tabs-inner
															mixin tabsItem(text,id)
																.tabs-item(data-id=id).js-tabs-trigger
																	.tabs-item-container
																		.tabs-item-line
																		.tabs-item-inner.text.white
																			.tabs-item-block(data-text=text) #{text}
															.tabs-col
																+tabsItem('Opera House','1')
																+tabsItem('Norman Fostere','2')
																+tabsItem('Z-towers','3')
																+tabsItem('Skywalks','4')
																+tabsItem('Norman Foster Office','5')
															.tabs-col
																+tabsItem('Tate Modern','6')
																+tabsItem('Skywalks','7')
																+tabsItem('Swan','8')
																+tabsItem('Tate Modern','9')
																+tabsItem('Opera House','10')
															+nextw('Projects')
												//- script.
													//- document.addEventListener("DOMContentLoaded", function() {
														//- var tab = document.querySelector('.js-tabs-cont');
														//- tabs = new tabsanim(tab);
													//- });




							.row
								.columns
									.comp-wrap
										.comp-wrap-inner
											//все логотипы дублируются во стором контейнере
											.comp-wrap-element
												mixin comp(img)
													.comp-item
														.comp-item-inner
															img.js-image(data-src="img/companys/"+img+".png", alt="")
												+comp('1')
												+comp('2')
												+comp('3')
												+comp('4')
												+comp('5')
												+comp('6')
												+comp('7')
											.comp-wrap-element
												+comp('1')
												+comp('2')
												+comp('3')
												+comp('4')
												+comp('5')
												+comp('6')
												+comp('7')

						.block.margin.anim-cont
							.row.align-stretch
								.columns.large-5
									.block-text
										.col
											+content('Production','All flat glass processing methods. JUMBO size and over','Production','/production.html')
								.columns.large-7
									a(href="#").block-image.block-image-parallax
										.block-image-inner.js-parallax
											img(src="img/index/index2.jpg", alt="")
						.block.margin.anim-cont
							.row.align-stretch
								.columns.large-7
									a(href="#").block-image.block-image-parallax
										.block-image-inner.js-parallax
											img(src="img/index/index3.jpg", alt="")
								.columns.large-5
									.block-text
										.col
											+content('Service','24/7 Operations. Customer Service Company','Service','/production.html')
						.block.margin.anim-cont
							.row.align-stretch
								.columns.large-5
									.block-text
										.col
											+content('Packing & logistics','By sea, by air, by land. Customized packing and logistics solutions','Logistics','/production.html')
								.columns.large-7
									a(href="#").block-image.block-image-parallax
										.block-image-inner.js-parallax
											img(src="img/index/index4.jpg", alt="")
					.block.margin.gray.team.anim-cont
						.row.align-justify
							.columns.large-5
								.title.h3 Meet the team
							.columns.large-6
								.text.primary Highly experienced specialists in flat glass innovations and process
						.row
							.columns
								.team-wrap
									.team-inner
										.slider-nav
										.team-slider.js-team-slider
											//а вот тут красиво без обертки никак, надо будет фасовать карточки в блоки по 4 штуки
											mixin team(img,name,who)
												.team-item
													.team-item-inner
														.team-item-img
															img(data-lazy="img/team/"+img+".jpg", alt="")
														.team-item-text
															.team-item-nam.text #{name}
															.team-item-who.text #{who}
											.team-slide
												+team('1','Dmitri Sobolevski','CEO')
												+team('2','Valdas Virbalas','Director')
												+team('3','Loreta Latakiene','Executive Director')
												+team('4','Tomas Lenkimas','Head of R&D dept')
											.team-slide
												+team('4','Tomas Lenkimas','Head of R&D dept')
												+team('1','Dmitri Sobolevski','CEO')
												+team('2','Valdas Virbalas','Director')
												+team('3','Loreta Latakiene','Executive Director')
											//- .team-slide
											//- 	+team('4','Tomas Lenkimas','Head of R&D dept')

					.block.margin.anim-cont
						.row
							.columns
								.quality-wrap
									.quality-title
										.title.h3 quality control
									.quality-text
										.text.primary Sertifyed by more than 20 professional agen
									+partner('1')
									+partner('2')
									+partner('3')
									+partner('4')
									+partner('5')
									+partner('3')
	
					+nextl('About company','l1','/about.html')

					include includes/_footer
